<div class="container-fluid m-4">
    <div class="container">
        <div class="row m-2">
            <div class="col-md-12">
                <h3 class="text-center">Settings</h3>
            </div>
        </div>
        <hr>
        <div class="row m-4">
            <div class="col-md-5 text-center">
                <div class="profile">Profile</div>
                <div class="img">
                    <h6>profile Picture</h6>
                   <img [src]="userData.photo" alt="Not found" class="img-fluid img-rounded">
                </div>
                <div class="name"><h5>{{userData.name}}</h5></div>
                <div class="text-center">
                    <h4>BioGraphy</h4>
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui 
                    blanditiis nesciunt assumenda quod voluptatibus! Quas deserunt
                     vitae dolorem architecto assumenda.
                </div>
    
            </div>
            <div class="col-md-7">
                <div class="text-center">
                    <h6>Basic Information</h6>
             </div>

            </div>
        </div>
    </div>

</div>



